[submodule "awesome/net_widgets"]
	path = awesome/net_widgets
	url = https://github.com/pltanton/net_widgets.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
