.config/chromium
*.bin
.place_holder
default.yaml
installation.yaml
luna_pinyin.userdb.kct
luna_pinyin.userdb/
luna_pinyin_simp.schema.yaml
symbols.yaml
user.yaml
weasel.yaml
.vim/
.directory
tags
watch_later/
mpv/mpv_sub-delay.json
mpv_sub-delay.json