" M->cmd, A->option, C->control
" M->Win, A-> alt, C-> ctrl
" <ESC> - escape, <BS> - backspace, <cr> - return




" leader
let mapleader = ' '

" 启用vim surround功能
set surround
" 启用multi cursor
set multiple-cursors
" 显示行号
set nu
" 显示相对行号
set rnu
" 高亮搜索
set hlsearch
" 自动定位到输入中的字符串，不需要回车搜索
set incsearch
" 显示当前的模式
set showmode
" 共享系统粘贴板
set clipboard=unnamed
" 搜索时智能匹配大小写
set ignorecase smartcase
" " IdeaVimExtension
" set keep-english-in-normal-and-restore-in-insert
set timeout
set timeoutlen=1000

noremap <C-O> <ESC>:action Back<cr>
noremap <C-I> <ESC>:action Forward<cr>

noremap <leader> | <ESC> :vsp<cr>
noremap <leader> - <ESC> :sp<cr>

" System/Global
inoremap <c-a> <c-o>^
inoremap <c-e> <c-o>$
inoremap <c-f> <Right>
inoremap <c-b> <Left>
inoremap <M-b> <C-o>b
inoremap <M-f> <C-o>w
inoremap <c-n> <Down>
inoremap <c-p> <Up>
inoremap <c-d> <Del>
inoremap <C-w> <Esc>dbcl
inoremap <C-u> <Esc>d0cl
inoremap <C-k> <Esc><Right>C
inoremap <C-d> <Esc><Right>s
inoremap <M-d> <C-o>de

nnoremap <c-c> i
nnoremap <c-a> ^
nnoremap <cr> :action EditorStartNewLine<cr>


" Basic
nnoremap \\r :source ~/.ideavimrc<CR>
noremap x "_x
noremap ,d "_d
noremap ,D "_D
nnoremap ,p :<C-u>action $Paste<CR>


" Move
nnoremap s :<C-u>action AceAction<CR>
"nnoremap / :<C-u>action Find<CR>
nnoremap <C-o> :<C-u>action Back<CR>
nnoremap <C-i> :<C-u>action Forward<CR>
nnoremap <C-S-o> <C-o>
nnoremap <C-S-i> <C-i>
nnoremap [m :<C-u>action MethodUp<CR>
nnoremap ]m :<C-u>action MethodDown<CR>
nnoremap [[ :<C-u>action MethodUp<CR>
nnoremap ]] :<C-u>action MethodDown<CR>
nnoremap [c :<C-u>action VcsShowPrevChangeMarker<CR>
nnoremap ]c :<C-u>action VcsShowNextChangeMarker<CR>
nnoremap [e :<C-u>action GotoPreviousError<CR>
nnoremap ]e :<C-u>action GotoNextError<CR>
nnoremap <C-Up> :<C-u>action MethodUp<CR>
nnoremap <C-Down> :<C-u>action MethodDown<CR>
nnoremap <C-S-Up> :<C-u>action VcsShowPrevChangeMarker<CR>
nnoremap <C-S-Down> :<C-u>action VcsShowNextChangeMarker<CR>
nnoremap <A-Up> :<C-u>action MethodUp<CR>
nnoremap <A-Down> :<C-u>action MethodDown<CR>
nnoremap <A-S-Up> <Nop>
nnoremap <A-S-Down> <Nop>




 " Navigate
nnoremap <S-F2> :<C-u>action Back<CR>
nnoremap <S-F3> :<C-u>action Forward<CR>
nnoremap <C-F2> :<C-u>action JumpToLastChange<CR>
nnoremap <C-F3> :<C-u>action JumpToNextChange<CR>
nnoremap <A-F2> :<C-u>action GotoPreviousError<CR>
nnoremap <A-F3> :<C-u>action GotoNextError<CR>
nnoremap <C-S-F2> :<C-u>action PreviousOccurence<CR>
nnoremap <C-S-F3> :<C-u>action NextOccurence<CR>
nnoremap g; :<C-u>action JumpToLastChange<CR>
nnoremap g, :<C-u>action JumpToNextChange<CR>


" Tab
nnoremap <F4>      :q<CR>
nnoremap <C-F4>    :q<CR>
nnoremap <S-F4>    :<C-u>action ReopenClosedTab<CR>
nnoremap <C-S-F4>  :<C-u>action CloseAllEditorsButActive<CR>
nnoremap <C-S-T>   :<C-u>action ReopenClosedTab<CR>
nnoremap <Leader>q :<C-u>action CloseContent<CR>
nnoremap <F2>      :<C-u>action PreviousTab<CR>
nnoremap <A-Left>  :<C-u>action PreviousTab<CR>
nnoremap <A-H>     :<C-u>action PreviousTab<CR>
nnoremap <F3>      :<C-u>action NextTab<CR>
nnoremap <A-Right> :<C-u>action NextTab<CR>
nnoremap <A-L>     :<C-u>action NextTab<CR>

nnoremap <S-Up>    :<C-u>action VimWindowUp<CR>
nnoremap <S-Down>  :<C-u>action VimWindowDown<CR>
nnoremap <S-Right> :<C-u>action VimWindowRight<CR>
nnoremap <S-Left>  :<C-u>action VimWindowLeft<CR>
nnoremap <C-S-Right> <Esc>:action VimWindowRight<CR>
nnoremap <C-S-Left>  <Esc>:action VimWindowLeft<CR>
nnoremap <C-S-K>   :<C-u>action VimWindowUp<CR>
nnoremap <C-S-J>   :<C-u>action VimWindowDown<CR>
nnoremap <C-S-L>   :<C-u>action VimWindowRight<CR>
nnoremap <C-S-H>   :<C-u>action VimWindowLeft<CR>

inoremap <F4>      <Esc>:q<CR>
inoremap <C-F4>    <Esc>:q<CR>
inoremap <S-F4>    <Esc>:action ReopenClosedTab<CR>
inoremap <C-S-F4>  <Esc>:action CloseAllEditorsButActive<CR>
inoremap <C-S-T>   <Esc>:action ReopenClosedTab<CR>
inoremap <F2>      <Esc>:action PreviousTab<CR>
inoremap <A-Left>  <Esc>:action PreviousTab<CR>
inoremap <A-H>     <Esc>:action PreviousTab<CR>
inoremap <F3>      <Esc>:action NextTab<CR>
inoremap <A-Right> <Esc>:action NextTab<CR>
inoremap <A-L>     <Esc>:action NextTab<CR>

inoremap <S-Up>    <Esc>:action VimWindowUp<CR>
inoremap <S-Down>  <Esc>:action VimWindowDown<CR>
inoremap <S-Right> <Esc>:action VimWindowRight<CR>
inoremap <S-Left>  <Esc>:action VimWindowLeft<CR>
inoremap <C-S-Right> <Esc>:action VimWindowRight<CR>
inoremap <C-S-Left>  <Esc>:action VimWindowLeft<CR>
inoremap <C-S-K>   <Esc>:action VimWindowUp<CR>
inoremap <C-S-J>   <Esc>:action VimWindowDown<CR>
inoremap <C-S-L>   <Esc>:action VimWindowRight<CR>
inoremap <C-S-H>   <Esc>:action VimWindowLeft<CR>

" Goto
nnoremap K :<C-u>action QuickJavaDoc<CR>
nnoremap gK :<C-u>action GotoDeclaration<CR>
nnoremap gk :<C-u>action GotoTypeDeclaration<CR>
nnoremap gi :<C-u>action GotoImplementation<CR>
nnoremap gs :<C-u>action GotoSuperMethod<CR>
nnoremap gt :<C-u>action GotoTest<CR>
nnoremap <C-k> :<C-u>action ShowUsages<CR>

" Goto file
nnoremap <Leader>gs :<C-u>action GotoSymbol<CR>
nnoremap <F6>       :<C-u>action GotoRelated<CR>

" Search
nnoremap <Leader>e  :<C-u>action SearchEverywhere<CR>
nnoremap <Leader>p  :<C-u>action RecentFiles<CR>
nnoremap <Leader>a  :<C-u>action GotoAction<CR>
nnoremap <Leader>u  :<C-u>action FindUsages<CR>
nnoremap <A-F7>     :<C-u>action FindUsages<CR>

" Find files/class
nnoremap <Leader>;  :<C-u>action GotoFile<CR>
nnoremap <Leader>o  :<C-u>action FileStructurePopup<CR>
nnoremap <Leader>gc :<C-u>action GotoClass<CR>
nnoremap <Leader>gs :<C-u>action GotoSymbol<CR>
nnoremap <Leader>gt :<C-u>action ActivateTerminalToolWindow<CR>
nnoremap <Leader>h  :<C-u>action CallHierarchy<CR>

" Find word
nnoremap <Leader>F  :<C-u>action Find<CR>
nnoremap <Leader>f  :<C-u>action FindInPath<CR>


" Edit
vnoremap < <gv
vnoremap > >gv
nnoremap <Leader>c<Leader> :<C-u>action CommentByLineComment<CR>
nnoremap <Leader>=  :<C-u>action ReformatCode<CR>
nnoremap <C-S-=> :<C-u>action ReformatCode<CR>
nnoremap <C-S-U> :<C-u>action EditorToggleCase<CR>

" Select
nnoremap + :<C-u>action EditorSelectWord<CR>
nnoremap - :<C-u>action EditorUnSelectWord<CR>

" Refactor
nnoremap ,rm  :<C-u>action ExtractMethod<CR>
nnoremap ,rn  :<C-u>action RenameElement<CR>
nnoremap ,rs :<C-u>action ChangeSignature<CR>
nnoremap ,rt :<C-u>action ChangeTypeSignature<CR>
nnoremap <S-F7> :<C-u>action RenameElement<CR>

" Generate
nnoremap ,g, :<C-u>action Generate<CR>
nnoremap ,gn :<C-u>action NewClass<CR>
nnoremap ,go :<C-u>action OverrideMethods<CR>
nnoremap ,gc :<C-u>action GenerateConstructor<CR>
nnoremap ,gg :<C-u>action GenerateGetter<CR>
nnoremap ,gs :<C-u>action GenerateSetter<CR>
nnoremap ,ga :<C-u>action GenerateGetterAndSetter<CR>
nnoremap ,ge :<C-u>action GenerateEquals<CR>
nnoremap ,gt :<C-u>action GenerateTestMethod<CR>
nnoremap ,gi :<C-u>action ImplementMethods<CR>
nnoremap <F7> :<C-u>action Generate<CR>


" Git
nnoremap \\gm :<C-u>action Vcs.QuickListPopupAction<CR>
nnoremap \\gc :<C-u>action CheckinProject<CR>

" History
nnoremap \\h  :<C-u>action RecentChanges<CR>
nnoremap \\hl  :<C-u>action LocalHistory.ShowHistory<CR>


" Build
nnoremap <F8> :<C-u>action Build<CR>
nnoremap <S-F8> :<C-u>action CMake.ReloadCMakeProject<CR>
nnoremap <C-F8> :<C-u>action StopBackgroundProcesses<CR>
nnoremap <C-S-F8> :<C-u>action Clean<CR>

" Debug
nnoremap <Leader>dd :<C-u>action Debug<CR>
nnoremap <Leader>dc :<C-u>action ChooseDebugConfiguration<CR>
nnoremap <F9>       :<C-u>action ChooseDebugConfiguration<CR>
nnoremap <S-F9>     :<C-u>action Debug<CR>
nnoremap <C-F9>     :<C-u>action DebugClass<CR>

" Run
nnoremap <Leader>rr :<C-u>action Run<CR>
nnoremap <Leader>rc :<C-u>action ChooseRunConfiguration<CR>
nnoremap <Leader>tn :<C-u>action RunClass<CR>
nnoremap <F10>      :<C-u>action ChooseRunConfiguration<CR>
nnoremap <S-F10>    :<C-u>action Run<CR>
nnoremap <C-F10>    :<C-u>action RunClass<CR>

" Test
"Clion only
nnoremap <C-F10>  :<C-u>action Rerun<CR>
nnoremap <A-F10>  :<C-u>action RerunFailedTests<CR>
nnoremap <Leader>tr  :<C-u>action Rerun<CR>
nnoremap <Leader>tf  :<C-u>action RerunFailedTests<CR>

" Debugger
nnoremap <Leader>b  :<C-u>action ToggleLineBreakpoint<CR>

" Refresh
nnoremap <F5>  :<C-u>action Synchronize<CR>
nnoremap <S-F5>  :<C-u>action ReformatCode<CR>
nnoremap <C-F5>  :<C-u>action Refresh<CR>


" SnoarLint
noremap <Leader>sc <ESC>:action SonarLint.AnalyzeChangedFiles<cr>
noremap <Leader>sf <ESC>:action SonarLint.AnalyzeFiles<cr>










" " 个人习惯
" noremap <leader>` <ESC>:action SelectInProjectView<cr>

" " Leader key relevant
" " quit
" noremap <leader>q :wq<cr>
" " w
" "noremap <leader>w <ESC>:action<cr>
" " <A-F7> FindUsages
" noremap <leader>w <ESC>:action FindUsages<cr>
" " error description
" noremap <leader>e <ESC>:action ShowErrorDescription<cr>

" " ReformatCode
" noremap <leader>r <ESC>:action ReformatCode<cr>
" " run option
" noremap <leader>R <ESC>:action ChooseRunConfiguration<cr>

" " Windows或者MacOS的快捷键都与t相关, 所以选择t作为键
" noremap <leader>t <ESC>:action Refactorings.QuickListPopupAction<cr>
" " y
" "noremap <leader>y <ESC>:action <cr>
" " usage
" noremap <leader>u <ESC>:action ShowUsages<cr>
" " import
" noremap <leader>i <ESC>:action Maven.Reimport<cr>

" " open file path
" noremap <leader>o <ESC>:action ShowFilePath<cr>
" " show projects
" noremap <leader>p <ESC>:action ManageRecentProjects<cr>

" " ace jump
" noremap <leader>a <ESC>:action AceAction<cr>

" noremap <leader>A <ESC>:action AceTargetAction<cr>

" " structure
" " noremap <leader>s <ESC>:action FileStructurePopup<cr>
" " debug option
" " noremap <leader>d <ESC>:action ChooseDebugConfiguration<cr>
" " Getting Help
" noremap <leader>d <ESC>:action QuickJavaDoc<cr>


" " 同样也是debug，因为d已经被ChooseDebugConfiguration占领, 所以就放在了d键隔壁.
" noremap <leader>f <ESC>:action DebugClass<cr>
" " g
" noremap <leader>gg <ESC>:action Generate<cr>
" "" Git
" noremap <Leader>gll <ESC>:action Vcs.UpdateProject<cr>

" " hide all
" " noremap <leader>h <ESC>:action HideAllWindows<cr>


" " jump to next error
" noremap <leader>j <ESC>:action GotoNextError<cr>
" " jump to previous error，就近原则
" noremap <leader>k <ESC>:action GotoPreviousError<cr>
" " light up
" noremap <leader>l <ESC>:action HighlightUsagesInFile<cr>
" " 粘贴最近复制寄存器
" noremap <leader>; "0p

" noremap <leader>z <ESC>:action RearrangeCode<cr>

" " maven clean install(third party plugin MavenHelper)
" noremap <leader>ci <ESC>:action MavenRunHelperCleanInstall<cr>

" noremap <leader>cc <ESC>:action CompileProject<cr>

" " 本行皆为debug所用
" " resume - z
" " noremap <leader>z <ESC>:action Resume<cr>
" " step over
" " noremap <leader>x <ESC>:action StepOver<cr>
" " step into
" " noremap <leader>c <ESC>:action SmartStepInto<cr>

" " evaluate expression - v
" noremap <leader>v <ESC>:action EvaluateExpression<cr>
" " breakpoints
" noremap <leader>b <ESC>:action ViewBreakpoints<cr>
" " 因为属于breakpoint范畴的功能, 所以就选择了b和m的隔壁
" noremap <leader>n <ESC>:action ToggleLineBreakpoint<cr>
" " mute breakpoints
" noremap <leader>m <ESC>:action XDebugger.MuteBreakpoints<cr>



" " g key relevant
" "
" " q
" "noremap gq <ESC>:action <cr>
" " switcher
" noremap gw <ESC>:action RecentFiles<cr>
" " e
" "noremap ge <ESC>:action <cr>
" " r
" "noremap gr <ESC>:action <cr>
" " translator(third party plugin)
" noremap gt <ESC>:action $EditorTranslateAction<cr>
" " y
" noremap gy <ESC>:action CopyReference<cr>
" " u
" "noremap gu <ESC>:action <cr>
" " intention
" noremap gi <ESC>:action ShowIntentionActions<cr>
" " o
" noremap go <ESC>:action OverrideMethods<cr>
" " param info
" noremap gp <ESC>:action ParameterInfo<cr>

" " a
" "noremap ga <ESC>:action emacsIDEAs.AceJump<cr>
" " goto source
" noremap gs <ESC>:action GotoImplementation<cr>
" " goto declaration
" noremap gd <ESC>:action GotoDeclaration<cr>
" " goto file
" noremap gf <ESC>:action GotoFile<cr>
" " g
" "noremap gg <ESC>:action MUST_NOT_BE_CHANGED!!!<cr>
" " hierarchy
" noremap ghc <ESC>:action CallHierarchy<cr>
" noremap ght <ESC>:action TypeHierarchy<cr>
" noremap ghm <ESC>:action MethodHierarchy<cr>
" " j analyze data flow in
" noremap gj <ESC>:action SliceBackward<cr>
" " k analyze data flow out
" noremap gk <ESC>:action SliceForward<cr>
" " l
" "noremap gl <ESC>:action <cr>

" " z
" "noremap gz <ESC>:action <cr>
" " close all but this
" noremap gx <ESC>:action CloseAllEditorsButActive<cr>
" " compile
" noremap gc <ESC>:action CompileDirty<cr>
" " v
" " noremap gv <ESC>:action <cr>
" noremap gv <ESC>:action SonarLint.AnalyzeChangedFiles<cr>
" " b
" noremap gb <ESC>:action SonarLint.AnalyzeFiles<cr>
" " goto class
" noremap gn <ESC>:action GotoClass<cr>
" " goto method
" noremap gm <ESC>:action GotoSymbol<cr>

" " \ also works
" "noremap \q <ESC>:action <cr>
" " refresh
" noremap \r <ESC>:source ~/.ideavimrc<cr>
" " git flow
" noremap \[ <ESC>:action Gitflow.OpenGitflowPopup<cr>
" " Vcs
" noremap \] <ESC>:action Vcs.QuickListPopupAction<cr>

" " global find
" noremap g/ <ESC>:action FindInPath<cr>
" " gloaal replace
" noremap g' <ESC>:action ReplaceInPath<cr>
" " find
" noremap / <ESC>:action Find<cr>
" " replace
" noremap ' <ESC>:action Replace<cr>
" " previous method
" noremap [[ <ESC>:action MethodUp<cr>
" " next method
" noremap ]] <ESC>:action MethodDown<cr>
" nnoremap [c :action VcsShowPrevChangeMarker<cr>
" nnoremap ]c :action VcsShowNextChangeMarker<cr>
" nnoremap [b :action GotoPreviousBookmark<cr>
" nnoremap ]b :action GotoNextBookmark<cr>

" " multiple cursors
" " map <A-N> <A-X> <A-P>
