! The best, goddamn Xresources file in the whole world.
! Author: Seth House <seth@eseth.com>
! -----------------------------------------------------------------------------

! --- Xft {{{1
! -----------------------------------------------------------------------------
! calculate dpi with xdpyinfo | grep resolution
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
! font-dependant. also try hintslight, hintfull, hintmedium, or hintnone.
Xft.hintstyle: hintslight
! set to vrgb for subpixel hinting on LCDs, or none on CRTs
Xft.rgba: rgb
! Choices: lcdnone, lcddefault, lcdlight, lcdlegacy
!Xft.lcdfilter: lcddefault
!Xft.embolden: true

! --- xterm {{{1
! -----------------------------------------------------------------------------
xterm*loginShell: true
xterm*scrollBar: false

! Use screen/tmux scrollback instead:
xterm*saveLines: 100
! -- Allow utf8 in/out
xterm*utf8: 2
xterm*eightBitInput: true
xtere*eightBitControl: false
xterm*eightBitOutput: true
! -- Enables True-Type rendering:
xterm*renderFont: true
xterm*faceName: Maple Mono NF CN
xterm*faceNameDoublesize: Maple Mono NF CN
xterm*wideChars: true
xterm*wideFont: source code pro
! -- Define the size increments used when changing font size
xterm*faceSize: 10
xterm*faceSize1: 6
xterm*faceSize2: 8
xterm*faceSize3: 12
xterm*faceSize4: 16
xterm*faceSize5: 20
xterm*faceSize6: 24
! -- Scroll multiple lines at a time for faster redrawing:
xterm*jumpScroll: true
xterm*multiScroll: true
! -- trim whitespace from selection before copying



xterm*trimSelection: true
! -- Hold Shift to use CLIPBOARD instead of PRIMARY to copy or paste
! Change font size with ctrl-+/-/= (or mousewheel).
! Add a few alt- shortcuts for quick access to special characters
xterm*vt100.Translations: #override \n\
    ~Shift~Ctrl<Btn2Up>: insert-selection(PRIMARY, CUT_BUFFER0) \n\
    Shift~Ctrl<Btn2Up>: insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
    Ctrl <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
    ~Shift<BtnUp>: select-end(PRIMARY, CUT_BUFFER0) \n\
    Shift<BtnUp>: select-end(CLIPBOARD, CUT_BUFFER1) \n\
    Shift Ctrl <Key> =: larger-vt-font() \n\
    Shift Ctrl <Key> -: smaller-vt-font() \n\
    Shift Ctrl <Key> 0: set-vt-font(d) \n\
    Ctrl <Btn4Down>: larger-vt-font() \n\
    Ctrl <Btn5Down>: smaller-vt-font() \n\
    Meta ~Shift <Key> bracketleft: string("‘") \n\
    Meta ~Shift <Key> bracketright: string("’") \n\
    Meta Shift <Key> bracketleft: string("“") \n\
    Meta Shift <Key> bracketright: string("”") \n\
    Meta ~Shift <Key> period: string("…") \n\
    Meta ~Shift <Key> -: string("—") \n\
    Meta Shift <Key> -: string("–") \n\
    Meta ~Shift <Key> exclam: string("¡") \n\
    Meta ~Shift <Key> question: string("¿") \n\
    Meta ~Shift <Key> 0: string("ʘ") \n\
    Meta ~Shift <Key> o: string("°") \n\
    Meta ~Shift <Key> t: string("™") \n\
    Meta ~Shift <Key> c: string("©") \n\
    Meta ~Shift <Key> x: string("×") \n\
!    Meta ~Shift <Key> d: string("ಠ")
! Matches URLs and emails and selects them on double-click
xterm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48
! map the tab key to escape in xterm (becase we can!)
! xterm.vt100.translations: #override\n\
!        <Key>Tab: string("\033")\n\

! --- xrxvt {{{1
!------------------------------------------------------------------------------
URxvt.loginShell:true
URxvt.inputMethod:ibus
URxvt.depth:32

!!!滚屏设置
URxvt.mouseWheelScrollPage:true
URxvt.scrollBar:false
URxvt.scrollBar_floating:false
URxvt.scrollstyle:rxvt
URxvt.scrollTtyOutput:false
URxvt.scrollWithBuffer:true
URxvt.scrollTtyKeypress:true

!!!光标闪烁
URxvt.cursorBlink:True
URxvt.cursorUnderline:false
URxvt.saveLines:100000

!!!边框
URxvt.borderLess:False
URxvt.allow_bold:false


!!!字体
URxvt.letterSpace:-1
URxvt.skipBuiltinGlyphs:true
URxvt.font: xft:Hack:pixelsize=12:antialias=true:hinting=true
URxvt.boldFont: xft:Hack:bold:pixelsize=12:antialias=true:hinting=true

!URxvt.inheritPixmap:false
URxvt.transparent:false
URxvt.shading:20
URxvt.intensityStyles: false

!select url
URxvt.perl-ext-common: default,matcher,clipboard,url-select,keyboard-select,fullscreen,resize-font
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.url-select.launcher: /usr/bin/google-chrome-stable
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.colorUL: #4682B4

! cut and paste
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped


URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.matcher.rend.0: Uline Bold fg5

!https://github.com/majutsushi/urxvt-font-size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-equal:  font-size:reset

! fulscreen
URxvt.keysym.F11: perl:fullscreen:switch

! URxvt.keysym.M-h: ls -lhb --color=auto\n
! URxvt.keysym.C-M-g: grep --color=auto -r --include \\..
! URxvt.keysym.C-M-p: ps aux|grep --color=auto ""
! URxvt.keysym.C-M-w: find . -name ""
! URxvt.keysym.C-M-n: netstat -tulpn|grep --color=auto ""

!bell
URxvt.urgentOnBell: True
